.footerstuff {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5584AC;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }

.footerstuff h4{
  font-weight: lighter;
}