body {
  margin: 0;
  padding: 0;
}

.navbarstuff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5584AC;
  padding: 20px;
}

.navbarstuff img {
  height: 50px;
  margin-bottom: -5px;
}

@media screen and (max-width: 431px) {
  .nav img {
      width: 80%;
      height: 50%
  }
}